ion-content.background{
    --ion-background-color:url(../../assets/bg.jpg) 0 0/100% 100% no-repeat;
  }
  
  .content{
    //position:fixed;
    margin-top: 210px;
    margin-left: 40px;
    margin-right: 40px;
    min-width: 320px;
  }
  
  .button-action{
    margin-left: 5px;
  }
  
  .signup-text{
    font-size: x-small;
    color: aquamarine;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
  }
  
  .signin-text{
    font-size: x-small;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
  }
  
  ion-input{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: small;
  }
  
  .actionbutton{
    background-color: turquoise;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: small;
    font-family: 'Nunito', sans-serif;
  }
  